chains = {
    name  : static
    class : jcube.core.filter.ControllerURLAssocFilter
    properties : { useCache : true, useAssoc : template  }
    -
    name  : static
    class : jcube.core.filter.ControllerURLAssocFilter
    properties : { useCache : true, useAssoc : template  }
    -
    
    
}