<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Добро пожаловать!</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head><body><style> body {    margin-top:20px;background-color:#464d50;font-family:Tahoma;font-size:14px;    }
        .content { height:400px;background-color:white;padding:10px;color:#656565; }
        pre { font-size:12px;    }
        .head {    background-color:#141414; color:white; padding:10px; font-size:20px; }
    </style>
<table width="100%"><tr><td align="center"><table width="800"><tr><td height=500><div class="head"><span style="color:orange;font-size:30px;">J</span>cube Web Framework</div>
<div class="content"><ul>
                                    <li>Вы только что создали проект, именно поэтому мы видите эту страницу</li>
                                    <li>Эта тестовая страница свидетельствует о том, что все настроено правильно.</li>
                                    <li>Сейчас выполняется контроллер: MainController
                                        <pre>
package integration.controller;
import jcube.core.template.Template;

/**
 * The Class MainController.
 */
public class MainController {
    
    /**
     * Defaults.
     *
     * @param template the template
     * @return the object //
     */
    public Template defaults(Template template)
    {
     return template;
    }
}
                                        </pre>
</li></ul><br></div></td></tr></table></td></tr></table></body></html>