<root>
	<beans>
		<!-- 
		 * Bean configuration.
		 * Class - is the target class that should be associated with.
		 * maker - Is creator, allows to create object as you wish.
		 * Used in the controllers. Before method is initiated
		-->
		
		<!-- Template instance -->
		<bean>
			<class>jcube.core.template.Template</class>
			<maker>jcube.core.beans.Template</maker>
		</bean>
		<!-- Config bean. Use bundle annotation to grab specific config file -->
		<bean>
			<class>jcube.core.config.Configuration</class>
			<maker>jcube.core.beans.Configuration</maker>
		</bean>
		<!-- Jcube server request -->
		<bean>
			<class>jcube.core.server.Request</class>
			<maker>jcube.core.beans.Request</maker>
		</bean>
		<!-- Jcube server response -->
		<bean>
			<class>jcube.core.server.Response</class>
			<maker>jcube.core.beans.Response</maker>
		</bean>
		<!-- Jcube session -->
		<bean>
			<class>jcube.core.session.Session</class>
			<maker>jcube.core.beans.Session</maker>
		</bean>
		<!-- Jcube URL dispatcher -->
		<bean>
			<class>jcube.core.dispatcher.URIDispatcher</class>
			<maker>jcube.core.beans.Dispatcher</maker>
		</bean>
	
	</beans>
</root>