<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Welcome to Jcube Framework</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/jcube-form.js"></script>
	<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/static/css/jcube-form.css" type="text/css" media="screen, projection" />
</head>

<body>
<h1>Wecome to jcube</h1>
<div>
	Here we provide some tiny form test
</div>
<script>
	$(function(){
		window.jcube.form($(".jcube-form"), function(e){
			alert(e)
		}) 
	})
</script>
<form action="/main/test" class="jcube-form">
		<h5>Form test</h5>
		
		<div class="item">
			<label>Name</label>
			<input name="name" type="text">
		</div>
		
		<div class="item">
			<label>Email</label>
			<input name="email" type="text">
		</div>
		
		<br>	
		<div class="submit">Submit</div>
	</form>

</body>
</html>